@{
    ViewData["Title"] = "Đăng ký";
    Layout = null;
}

<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/css/DangKy.css" asp-append-version="true" />
<link rel="stylesheet" href="~/MyWebApp.styles.css" asp-append-version="true" />

<div class="login-container">
    <img src="/images/logo.png" alt="SoundAudio">
    <h2 class="typeText">SoundAudio</h2>

    @if (!string.IsNullOrEmpty(ViewBag.Error))
    {
        <p class="text-danger">@ViewBag.Error</p>
    }

    <form method="post" action="/Home/DangKy" enctype="multipart/form-data">
        <div class="login-form">
            <p class="Size0">Họ và tên</p>
            <input type="text" name="name" class="TextBox" required>
        </div>
        <div class="login-form">
            <p class="Size1">Email</p>
            <input type="email" name="email" class="TextBox" required>
        </div>
        <div class="login-form">
            <p class="Size2">Mật khẩu</p>
            <input type="password" name="password" class="TextBox" required>
        </div>
        <div class="login-form">
            <p class="Size3">Nhập lại mật khẩu</p>
            <input type="password" name="repassword" class="TextBox" required>
        </div>

        @* <div class="login-form">
            <p class="Size3">Chọn vai trò</p>
            <select name="role" class="TextBox" required>
                @foreach (var role in ViewBag.Roles as List<string>)
                {
                    <option value="@role">@role</option>
                }
            </select>
        </div> *@



        <div class="login-form">
            <p class="Size3">Chọn ảnh đại diện</p>
            <input type="file" name="avatar" accept="image/*" class="TextBox" />
        </div>

        <div>
            <a href="/Home/DangNhap" class="register">Đăng nhập</a>
            <button type="submit" class="btn-DangNhap">Đăng ký</button>
        </div>
    </form>
</div>
