@{
    ViewData["Title"] = "Đăng nhập";
    Layout = null;
}

<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/css/DangNhap.css" asp-append-version="true" />
<link rel="stylesheet" href="~/MyWebApp.styles.css" asp-append-version="true" />

<div class="login-container">
    <img src="/images/logo.png" alt="SoundAudio">
    <h2 class="typeText">SoundAudio</h2>

    @if (!string.IsNullOrEmpty(ViewBag.Error))
    {
        <p class="text-danger">@ViewBag.Error</p>
    }

    <form method="post" action="/Home/DangNhap">
        <div class="login-form">
            <p class="Size1">Email hoặc số điện thoại</p>
            <input type="text" name="email" class="TextBox" required>
        </div>
        <div class="login-form">
            <p class="Size2">Mật khẩu</p>
            <input type="password" name="password" class="TextBox" required>
        </div>
        <div>
            <a href="/Home/DangKy" class="register">Đăng ký</a>
            <button type="submit" class="btn-DangNhap">Đăng nhập</button>
        </div>
    </form>

    <div class="text-center mt-3">
        <p>Đăng nhập bằng mạng xã hội</p>
        <a class="btn btn-danger" href="/Home/ExternalLogin?provider=Google">Đăng nhập bằng Google</a>
        <a class="btn btn-primary" asp-controller="Account" asp-action="ExternalLogin" asp-route-provider="Facebook">Facebook</a>
    </div>

</div>
