body {
    background-image: url('/images/background.jpg'); /* Đường dẫn ảnh */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    justify-content: center; /* Căn giữa theo chiều ngang */
    align-items: center;
}

.login-container {
    color: white;
    width: 800px;
    height: 1000px;
    margin: 1%00px auto;
    padding: 10px 20px;  /* Đảm bảo padding bằng nhau */
    font-size: 16px;
    border-radius: 20px;
    background-color: #222;
    border-radius: 10px;
    text-align: center;
    flex-direction: column;
    gap: 50px; /* Khoảng cách giữa các phần tử */
}

/* Link Đăng ký */
.register {
    color: white;
    font-size: 50px;
    margin-right: 15px;
    text-decoration: none;
}
  
  /* Nút Đăng nhập */
.btn-DangNhap {
    background-color: white;
    color: black !important;
    padding: 8px 15px;
    border-radius: 50px;
    font-size: 50px;
    font-weight: bold;
    text-decoration: none;
    margin-top: 100px;
    margin-left: 50px;
} 

.btn-DangNhap:hover {
    background-color: #ddd;
}

.login-form{
    font-size: 50px;
    padding-top: 50px;
    border: 50px;
}

.typeText{
    font-size: 100px;
    width: 100%;
    height: 50px;
    padding-left: 20px;
    color: white !important;
    margin-bottom: 50px;
}

.Size1{
    font-size: 30px;
    margin-right: 250px;
}
.Size2{
    font-size: 30px;
    margin-right: 450px;
}
.TextBox{
    border-radius: 50px;
    background-color: #3f3f3f;
    border: none;
}